<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Details</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <h2>Account Details</h2>
    <hr>
    <div>
        <div class = "account-h3">Name: </div><div class ="account-p">
            {{user.firstname}} {{user.lastname}}
        </div>
    </div>
    <div>
        <div class = "account-h3">Address: </div><div class ="account-p">
            {{user.address}}
        </div>
    </div>
    <div>
        <div class = "account-h3">Meter Number: </div><div class ="account-p">
            {{user.meter_num}}
        </div>
    </div>

</body>

