{{!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LRB Manggahan Residences Homeowners' Association, Inc.</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <h2>LRB Manggahan Residences Homeowners' Association, Inc.</h2>
  <h3 id="building-header"></h3>
  <p id="billing-period"></p>
  <p id="building-representative"></p>
  <hr>
  <table>
      <thead>
          <tr>
              <th>REF. NO.</th>
              <th>ACCOUNT NAME (AS PER FLOOR LEADER)</th>
              <th>CONSUMPTION (CU.M.)</th>
              <th>BASIC CHARGE</th>
              <th>SYSTEM LOSS CHARGE</th>
              <th>WATER MAINTENANCE FUND</th>
              <th colspan="3">CURRENT CHARGES</th>
              <th colspan="3">PREVIOUS UNPAID ACCOUNT</th>
              <th>OTHER CHARGES</th>
              <th>TOTAL AMOUNT DUE</th>
              <th>REMARKS</th>
              <th>Action</th>
          </tr>
          <tr>
              <th colspan="6"></th>
              <th>WATER</th>
              <th>MONTHLY ASSESSMENT FEE</th>
              <th>STP</th>
              <th>WATER</th>
              <th>MONTHLY ASSESSMENT FEE</th>
              <th>STP</th>
              <th colspan="3"></th>
          </tr>
      </thead>
      <tbody>
          <!-- dynamically inserted yung data here -->
      </tbody>
  </table>
  <div>
      <button id="prev-btn" disabled>Previous</button>
      <button id="next-btn">Next</button>
  </div>

  <div id="editBillModal" class="modal">
      <div class="modal-content">
          <span class="close" onclick="closeModal()">&times;</span>
          <h2>Edit Billing Details</h2>
          <div>Current Charges: P<span contenteditable="true" data-type="number">500</span></div>
          <div>PREVIOUS UNPAID ACCOUNT (Water): P<span contenteditable="true" data-type="number">0.00</span></div>
          <div>PREVIOUS UNPAID ACCOUNT (Monthly Assessment FEE): P<span contenteditable="true" data-type="number">0.00</span></div>
          <div>PREVIOUS UNPAID ACCOUNT (STP): P<span contenteditable="true" data-type="number">0.00</span></div>
          <div>Other charges: P<span contenteditable="true" data-type="number">0.00</span></div>
          <div>TOTAL AMOUNT DUE: P<span contenteditable="true" data-type="number">698.00</span></div>
          <div>DUE DATE: <span contenteditable="true" data-type="date">MAY 15 2024</span></div>
          <div class="buttons">
              <button id="confirmEdits">Confirm Edits</button>
              <button id="cancelEdits">Cancel</button>
          </div>
      </div>
  </div>

  <div id="confirmDeleteModal" class="modal">
      <div class="modal-content">
          <span class="close" onclick="closeDeleteModal()">&times;</span>
          <h2>Delete Confirmation</h2>
          <p>Are you sure you want to delete this record?</p>
          <br>
          <div class="buttons">
              <button id="confirmDelete">Delete</button>
              <button id="cancelDelete">Cancel</button>
          </div>
      </div>
  </div>
<hr />

<script src="/script/adminViewBills.js"></script>
</body>
</html>
 --}}

 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LRB Manggahan Residences Homeowners' Association, Inc.</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <h2>LRB Manggahan Residences Homeowners' Association, Inc.</h2>
  <h3 id="building-header"></h3>
  <p id="billing-period"></p>
  <p id="building-representative"></p>
  <hr>
  <table>
      <thead>
          <tr>
              <th>REF. NO.</th>
              <th>BILL NO.</th>
              <th>ACCOUNT NAME (AS PER FLOOR LEADER)</th>
              <th>CONSUMPTION (CU.M.)</th>
              <th>BASIC CHARGE</th>
              <th>SYSTEM LOSS CHARGE</th>
              <th>WATER MAINTENANCE FUND</th>
              <th colspan="3">CURRENT CHARGES</th>
              <th colspan="3">PREVIOUS UNPAID ACCOUNT</th>
              <th>OTHER CHARGES</th>
              <th>TOTAL AMOUNT DUE</th>
              <th>SERVICE INVOICE</th>
              <th>REMARKS</th>
              <th>Action</th>
          </tr>
          <tr>
              <th colspan="7"></th>
              <th>WATER</th>
              <th>MONTHLY ASSESSMENT FEE</th>
              <th>STP</th>
              <th>WATER</th>
              <th>MONTHLY ASSESSMENT FEE</th>
              <th>STP</th>
              <th colspan="3"></th>
          </tr>
      </thead>
      <tbody>
          <!-- dynamically inserted data here -->
      </tbody>
  </table>
  <div>
      <button id="prev-btn" disabled>Previous</button>
      <button id="next-btn">Next</button>
  </div>

  <div id="editBillModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Edit Billing Details</h2>
        <div>
            REF. NO.: <span id="editRefNo" contenteditable="false" data-type="text"></span>
        </div>
        <div>
            BILL NO.: <span id="editBillNo" contenteditable="false" data-type="text"></span>
        </div>
        <div>
            ACCOUNT NAME (AS PER FLOOR LEADER): <span id="editAccountName" contenteditable="false" data-type="text"></span>
        </div>
        <div>
            CONSUMPTION (CU.M.): <span id="editConsumption" contenteditable="true" data-type="number"></span>
        </div>
        <div>
            BASIC CHARGE: <span id="editBasicCharge" contenteditable="true" data-type="number"></span>
        </div>
        <div>
            SYSTEM LOSS CHARGE: <span id="editSystemLossCharge" contenteditable="true" data-type="number"></span>
        </div>
        <div>
            WATER MAINTENANCE FUND: <span id="editWaterMaintenanceFund" contenteditable="true" data-type="number"></span>
        </div>
        <div>
            CURRENT CHARGES (Water): <span id="editCurrentChargesWater" contenteditable="true" data-type="number"></span>
        </div>
        <div>
            CURRENT CHARGES (Monthly Assessment Fee): <span id="editCurrentChargesMonthlyAssessmentFee" contenteditable="true" data-type="number"></span>
        </div>
        <div>
            CURRENT CHARGES (STP): <span id="editCurrentChargesSTP" contenteditable="true" data-type="number"></span>
        </div>
        <div>
            PREVIOUS UNPAID ACCOUNT (Water): <span id="editPreviousUnpaidWater" contenteditable="true" data-type="number"></span>
        </div>
        <div>
            PREVIOUS UNPAID ACCOUNT (Monthly Assessment Fee): <span id="editPreviousUnpaidMonthlyAssessmentFee" contenteditable="true" data-type="number"></span>
        </div>
        <div>
            PREVIOUS UNPAID ACCOUNT (STP): <span id="editPreviousUnpaidSTP" contenteditable="true" data-type="number"></span>
        </div>
        <div>
            OTHER CHARGES: <span id="editOtherCharges" contenteditable="true" data-type="number"></span>
        </div>
        <div>
            TOTAL AMOUNT DUE: <span id="editTotalAmountDue" contenteditable="true" data-type="number"></span>
        </div>
        <div>
            SERVICE INVOICE: <span id="editServiceInvoice" contenteditable="true" data-type="text"></span>
        </div>
        <div>
            REMARKS: <span id="editRemarks" contenteditable="true" data-type="text"></span>
        </div>
        <div class="buttons">
            <button id="confirmEdits">Confirm Edits</button>
            <button id="cancelEdits">Cancel</button>
        </div>
    </div>
</div>

  <div id="confirmDeleteModal" class="modal">
      <div class="modal-content">
          <span class="close" onclick="closeDeleteModal()">&times;</span>
          <h2>Delete Confirmation</h2>
          <p>Are you sure you want to delete this record?</p>
          <br>
          <div class="buttons">
              <button id="confirmDelete">Delete</button>
              <button id="cancelDelete">Cancel</button>
          </div>
      </div>
  </div>
<hr />

<script src="/script/adminViewBills.js"></script>
</body>
</html>
