<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APOAMF Billing System</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        <h1>APOAMF Billing System</h1>
        <!--Update links once backend is done-->
        <div class="header-links">
            <a href="#" class="contact-us">Contact Us</a>
            <button class="login-button" onClick = "toLoginPage()">Log In</button>
        </div>
    </header>

    <main>
        <div class = "description">
            <h2>About</h2>

            <div class = description-p>
                For <b>inquiries</b>, please <b>press Contact-Us</b> to get in touch with the administrators of this site.
            </div>
            <div class = description-p>
                For <b>information</b> regarding the website, <b>refer to the links below</b> "Github", and "Google Document".
                Your feedback is valuable to us, so please don't hesitate to reach out with any questions, concerns, or suggestions.
            </div>
        </div>
            <div class="image-container">
                <img src="/images/Philippines-Final.jpg">
            </div>
    </main>

    <footer>
        <p>&copy; APOAMF Billing System</p>
        
        <!-- Update this section for links -->
        <div class = "footer-links"> 
            <a href="#" class="github">Github</a> 
            <a href="#" class="google-doc">Google Document</a>
        </div>
    </footer>
    <script src="/script/script.js"></script>
</body>
</html>
