<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APOAMF Billing System</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <header>
        <h1>APOAMF Billing System</h1>
    </header>

    <main>
        <section class="intro">
            <div class="intro-content">
                <h2>About</h2>
                <div class="intro-box">
                    <h3>Inquiries</h3>
                    <p>For <b>inquiries</b>, please <a href="https://www.facebook.com/sinocjack" class="link">press Contact-Us</a> to get in touch with the administrators of this site.</p>
                </div>
                <div class="intro-box">
                    <h3>Information</h3>
                    <p>For <b>information</b> regarding the website, <b>refer to the links below:</b> <a href="https://github.com/clavzno/CSSWENG_S11G3" class="link">Github</a> and <a href="https://docs.google.com/document/d/1nGugzqA92ifBRyEZViexR6xqcKnsKmexWxNmCZ0rNq8" class="link">Google Document</a>. Your feedback is valuable to us, so please don't hesitate to reach out with any questions, concerns, or suggestions.</p>
                </div>
            </div>
        </section>

        <section class="image-container">
            <a href="http://localhost:3000/login" target="_blank" class="image-link">
                <img src="/images/Philippines-Final.jpg" alt="Philippines">
            </a>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 APOAMF Billing System</p>
        <div class="footer-links">
            <a href="https://www.facebook.com/sinocjack" class="contact-us"><i class="fas fa-envelope"></i> Contact Us</a>
            <a href="https://github.com/clavzno/CSSWENG_S11G3" class="github"><i class="fab fa-github"></i> Github</a>
            <a href="https://docs.google.com/document/d/1nGugzqA92ifBRyEZViexR6xqcKnsKmexWxNmCZ0rNq8" class="google-doc"><i class="fab fa-google"></i> Google Document</a>
        </div>
    </footer>

    <script src="/script/script.js"></script>
</body>
</html>
