@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  padding: 20px;
}

h2 {
  color: #292a2b;
}

hr {
  margin: 20px 0;
  border: none;
  height: 1px;
  background-color: #292a2b;
}

button {
  padding: 10px 20px;
  background-color: #c4d4d2;
  color: #292a2b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #a4b4b2;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5%;
  margin-left: 10%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.modal-content label,
.modal-content input {
  width: 100%;
  height: 25px;
  display: block;
}

.modal-content textarea {
  resize: vertical;
  width: 100%;
  height: 300px;
  overflow-y: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#announcements-list {
  margin-top: 20px;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-size: 0.7rem;
  color: #292a2b;
}

.edit-button,
.delete-button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #c4d4d2;
  color: #292a2b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #a4b4b2;
}

.read-more {
  color: #c4d4d2;
  text-decoration: none;
  cursor: pointer;
}

.read-more:hover {
  text-decoration: underline;
}

.announcement-short {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#pagination button {
  margin: 0 10px;
}

#pageNumbers {
  font-size: 1rem;
  color: #292a2b;
}

.announcement-full {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.announcement-full .modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.announcement-full .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.announcement-full .close:hover,
.announcement-full .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
