<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Billings</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<h2>User Management</h2>
<hr />

<h2>Insert Table here</h2>
<div id="pagination">
    <button id="prevPage">Previous</button>
    <span id="pageNumbers"></span>
    <button id="nextPage">Next</button>
</div>
<hr />